eval"$(ssh-agent -s)"/
eval"$(ssh-agent -s)".pub/
# Ignore virtual environment folder
venv/
.ssh/id_ed25519/


# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE-specific files (e.g., VS Code, PyCharm)
.vscode/
.idea/
