eval"$(ssh-agent -s)"/
eval"$(ssh-agent -s)".pub/
# Ignore virtual environment folder
venv/
.ssh/id_ed25519/


# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE-specific files (e.g., VS Code, PyCharm)
.vscode/
.idea/
id_ed25519/
id_ed25519.pub/
/home/dura/Codes/financial-news-sentiment-analysis/eval "SSH_AUTH_SOCK=/tmp/ssh-9XAkZYiv9IHV/agent.55005; export SSH_AUTH_SOCK;
SSH_AGENT_PID=55006; export SSH_AGENT_PID;
echo Agent pid 55006;".pub
